.closed {
    display: none;
}

.side_menu .right_section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 2rem;
}


.side_menu.closed {
    pointer-events: none;
}

.side-menu.closed>.side_overlay {
    background: rgba(0, 0, 0, 0);
}

.side_menu.closed>.side_menu {
    left: -200px;
}

.side_header {
    display: flex;
    justify-content: flex-end;
    color: #b6b6b6;
    font-size: 24px;
    padding-bottom: 12px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}

.token_details_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.token_details_container .title {
    font-size: 16px;
    font-weight: 700;
}

.token_details_container .title div {
    font-size: 12px;
    font-weight: 400;
}