/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@layer base {
    .font-syne {
        font-family: "Syne", serif;
    }
    .dashboard-heading {
        background: linear-gradient(105deg, #794EFF, #FFFFFF);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
        @apply text-[40px] leading-relaxed font-bold my-4 ;
    }
    .dashboard-stat-card {
        background: linear-gradient(180deg, rgba(28, 20, 58, 0.50) 0%, rgba(36, 26, 73, 0.50) 100%), #111115;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        @apply border-[1.5px] border-[#3D2A70] rounded-[27px] p-[42px];
    }
    .dashboard-stat-card--title {
        background: linear-gradient(105deg, #794EFF, #FFFFFF);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
        @apply font-bold
    }
    .dashboard-stat-card--value {
        font-size: clamp(20px, 5vw, 32px);
    }

    .custom-token-modal {
        @apply rounded-3xl !z-40 dashboard-stat-card max-h-[420px]
    }
    .custom-token-modal-container {
        @apply bg-transparent  md:pt-[100px]
    }
    .custom-token-modal-container {
        @apply bg-transparent shadow-none max-h-[650px] overflow-hidden md:w-full md:m-0 md:absolute md:top-[15vh] md:left-0
    }
    .custom-token-modal-close-button {
        @apply text-[#fff] relative md:right-[40vw] md:top-2 right-[15px] top-[15px]  text-[40px] md:w-[40px] md:h-[40px] md:border md:rounded-full md:bg-[#14151A] md:p-1 md:border-[#14151A] shadow-lg
    }
    .custom-token-modal-input {
        @apply text-[#fff] w-full border-[#808080] font-syne text-xl pl-10 pr-4 font-thin rounded-[40px] bg-[#292146] placeholder-gray-400
    }
    .react-responsive-modal-modal {
        background-color : white !important;
    }
    .navbar-sidemenu-container {
        border: 1.35px solid #794EFF;
        background: linear-gradient(178deg, rgba(30, 20, 64, 1) 13.86%, rgba(36, 26, 73, 1) 98.67%);
        transition: 0.4s ease left;
        @apply z-[10001] rounded-l-[22px] border-[#794EFF] h-[100vh] absolute border p-3 right-0 w-[75vw] pl-[30px]
    }
}
